<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo APP</title>
    <!-- 把public暴露出去可以不用写 ../public -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                Todo APP
            </a>
        </div>
    </nav>
    <div class="container">
        <%- body %>
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>